@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap");

:root {
  --green: #35927d;
  --light-green: #e0eae2;
  --pink: #f58466;
  --light-pink: #faccbc;
  --yellow: #df9226;
  --light-yellow: #fac583;
  --blue: #05607f;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;

}

p {
  color: #91b1aa;
  line-height: 1.5;
}
a {
  text-decoration: none;
 
}
button:focus {
  outline: none;
}

/* nav css start */
nav {
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
}
.nav-links {
  list-style-type: none;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.nav-links li a {
  color: var(--green);
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  padding: 0.5rem;
}
.nav-links li a:hover {
  color: var(--pink);
}
.nav-active {
  border-bottom: 5px solid var(--pink);
}
.nav-icon {
  margin: 0 0.5rem;
}


/* landing section css start */
.landing-container {
  overflow-x: hidden;
  height: 100vh;
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: center;
}
.name-container {
  padding-left: 30%;
}
.name-container h1{
  color: var(--blue);
}
.name {
  color: var(--yellow);
  text-transform: uppercase;
  font-size: 144px;
  text-shadow: -13px 13px var(--blue);
  padding: 0.5rem;
}

.title-container {
  opacity: 0.25;
  padding-left: 28%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.title-container h1 {
  color: #f4a817;
  font-size: 72px;
  line-height: 80%;
  animation: appear 1s 1 ease-in-out;
}
.circle-bg1 {
  width: 25%;
  position: absolute;
  right: -2%;
  top: -1%;
  z-index: -1;
}
.circle-bg2 {
  width: 10%;
  position: absolute;
  right: -2%;
  top: 43%;
  z-index: -2;
}
.circle-bg1 img,
.circle-bg2 img,
.profile-circle1 img,
.profile-circle2 img {
  width: 100%;
}

/* profile section css start */
.profile-container {
  height: 50vh;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  grid-template-rows: 20% 80%;
  margin: 5% auto;
  width: 70%;
}
.profile-title {
  grid-column: 1/3;
  padding: 2rem 0;
  align-self: center;
}
.line-break {
  border-top: 3px solid var(--blue);
  padding-bottom: 3rem;
  width: 70vw;
}
.contact-title,
.contact-info {
  margin: 0 3rem;
}
.skill-container h3 {
  color: #91b1aa;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--pink);
  margin: 0 4rem;
  margin-bottom: 0.5rem;
}
.skill-container p {
  text-align: center;
  padding: 0.3rem 0;
  font-weight: 500;

}
.pipe {
  margin: 0 1.5rem;
}

/* Project section css start */
.projects-container {
  background-color: #f1faf3;
  padding: 5rem;
  padding-bottom: 8rem;
}
.projects-title,
.profile-title h3,
.contact-title h2, .cv-title h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 4rem 0;
  color: var(--yellow);
  font-size: 64px;
  text-shadow: -3px 3px var(--blue);
 
}
.project-grid {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  grid-gap: 10rem 5rem;
}
.project-img-container {
  height: 30vh;
  position: relative;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-img-main,
.project-img-main2,
.project-img-main1 {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.thumbnail-container {
  height: 20%;
  display: flex;
  justify-content: center;
}
.project-img-thumbnail,
.project-img-thumbnail2,
.project-img-thumbnail1 {
  margin: 0.8rem;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 0;
}
.overlay-container:hover .overlay {
  background: white;
  opacity: 0.9;
}
.project-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.35s ease;
  color: var(--yellow);
  text-align: center;
  padding: 0.5rem 1rem;
}
.overlay-container:hover .project-button {
  opacity: 1;
}
.project-text h4 {
  color: #91b1aa;
  font-size: 36px;
  margin: 1rem 0;
}
.project-text p {
  padding: 0.5rem 0;
}
.project-links {
  background-color: #91b1aa;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  display: inline-block;
  transition: all 0.15s;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-transform: uppercase;
  border-radius: 30px;
}
.project-links:hover {
  background-color: var(--yellow);
}

/* contacts section css start */
.contacts-container {
  height:70vh;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.contact-info {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-info p{
  color: var(--blue);
  font-size: 1.5rem;
}
.contact-info i {
  padding: 0 1rem;
}
.contact-info a {
  color: var(--blue);
  font-size: 1.5rem;
}
.contact-info a:hover {
  color: var(--light-yellow);
}
.contact-email-container {
  display: flex;
}
.copy-email-btn {
  background-color: transparent;
  border: none;
  color: var(--blue);
  cursor: pointer;
}
/* copy email tooltip css */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--blue);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--blue) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.profile-circle1 {
  width: 15%;
  position: absolute;
  bottom: -5%;
  right: -5%;
  opacity: 0.8;
  z-index: -1;
}

/* footer css start */
footer {
  height: 5vh;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  color: white;
  text-transform: capitalize;
}
footer a:hover {
  color: var(--light-yellow);
}


/* cv page css  */
.cv-container{
  background-color: #FCE9C5;
  background-image: url('./assets//cv-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  
display: flex;
justify-content: center;
align-items: center;
  
}
.cv-flexbox-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 3rem 0;
}
.cv-title{
  padding: 2rem 0;
 
}

.cv-img-container {
  position: relative;
  width: 20%;
  border-radius: 13px;
  margin: 1rem;


}

.cv-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 13px;
  box-shadow: rgba(	245,	132,	102, 0.4) -5px 5px, rgba(245,	132,	102, 0.3) -10px 10px, rgba(245,	132,	102, 0.2) -15px 15px, rgba(245,	132,	102, 0.1) -20px 20px, rgba(245,	132,	102, 0.05) -25px 25px;

}

.cv-overlay {
  position: absolute; 
  bottom: 0; 
  border-radius: 13px;
  background: rgba(255, 255, 255, 0.9); 
  color: var(--pink);
 
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 1rem;
  text-align: center;
  display: flex;
 
  align-items: center;
  justify-content: center;
  
}

.cv-img-container:hover .cv-overlay {
  opacity: 1;
}
