@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap");

:root {
  --green: #35927d;
  --light-green: #e0eae2;
  --pink: #f58466;
  --light-pink: #faccbc;
  --yellow: #df9226;
  --light-yellow: #fac583;
  --blue: #05607f;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--blue);
}
a {
  text-decoration: none;
}

/* nav css start */
nav {
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.3);
}
.nav-links {
  list-style-type: none;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  
}
.nav-links li a {
  color: var(--blue);
  font-weight: 500;
  font-size: 1.3rem;
 
}

.nav-icon {
  margin: 0 0.5rem;
}

/* landing section css start */
.landing-container {
  overflow-x: hidden;
  height: 100vh;
  position: relative;
}
.name-container {
  padding-top: 13%;
  padding-left: 15%;
}
.name {
  color: var(--yellow);
  text-transform: uppercase;
  font-size: 144px;
  text-shadow: 10px 8px var(--blue);
  padding: 0.5rem;
  
}
.name-animation{
  animation: text-shadow-pop-bl 2s both;
}

@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 var(--blue), 0 0 var(--blue), 0 0 var(--blue),0 0 var(--blue), 0 0 var(--blue), 0 0 var(--blue), 0 0 var(--blue), 0 0 var(--blue);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px var(--blue), -2px 2px var(--blue), -3px 3px var(--blue), -4px 4px var(--blue), -5px 5px var(--blue), -6px 6px var(--blue), -7px 7px var(--blue), -8px 8px var(--blue),-9px 9px var(--blue),-10px 10px var(--blue);
    transform: translateX(8px) translateY(-8px);
  }
}

.title-container {
  opacity: 0.25;
  padding-left: 13%;
}
.title-container h1 {
  color: #f4a817;
  font-size: 96px;
  line-height: 80%;
  animation: appear 1s 1 ease-in-out;
}
.circle-bg1 {
  width: 35%;
  position: absolute;
  right: -5%;
  top: -5%;
  z-index: -1;
}
  
.circle-bg2 {
  width: 20%;
  position: absolute;
  right: -3%;
  bottom: 10%;
  z-index: -2;
}
.circle-bg1 img,
.circle-bg2 img {
  width: 100%;
}
.circle-bg1 img{
 transform: rotate(20deg);
}


/* profile section css start */
.profile-container,
.contacts-container {
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.statment-container,
.skill-container,
.contact-title,
.contact-info {
  margin: 0 3rem;
}
.statment-container p {
  color: var(--blue);
  
  font-size: 1.3rem;
}

.skill-container h3 {
  color: var(--pink);
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--light-yellow);
  margin-bottom: .5rem;
}
.skill-container p {
  color: var(--blue);
  text-align: center;
  padding: 0.3rem 0;
  font-weight: 500;
  font-size: 1.5rem;
}
.pipe {
  margin: 0 0.8rem;
}

/* Project section css start */
.projects-container {
  background-color: var(--light-green);
}
.projects-title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 4rem;
  color: var(--green);
  font-size: 48px;
  text-shadow: 3px 3px var(--light-yellow);
 
}


.project-grid {
  width: 60%;

  margin: auto;
  display: grid;
  grid-template-columns: 45% 45%;

  justify-items: center;
  align-items: center;
  grid-gap: 10rem;
  padding: 5rem;
}
.project-img-container {
  height: 30vh;
  position: relative;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(255, 255, 255, 0); */
  transition: all 0.5s ease;
}
.project-img-container:hover .overlay {
  display: block;
  background: white;
  opacity: 0.8;
}
.project-button {
  position: absolute;

  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);

  opacity: 0;
  transition: opacity 0.35s ease;
  color: var(--blue);
  text-align: center;
}
.project-img-container:hover .project-button {
  opacity: 1;
}
.project-text h4,
.project-text p {
  color: var(--green);
}

   

/* contacts section css start */
.contain-title {
  font-size: 48px;
}



.contact-info {
  color: var(--yellow);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-info i {
  padding: 0 1rem;
}

.contact-info a {
  color: var(--yellow);
  
}
.contact-info a:hover {
  color: var(--light-yellow);
}

/* contact form section css start */
.contact-from-container {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-radius: 18px;
  border: 5px solid var(--pink);
  padding: 3rem 8rem;
  z-index: 5;
}
.form-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--pink);
  font-size: 48px;
  text-shadow: 3px 3px var(--blue);
  padding-bottom: 1rem;
}
label{
  color: var(--blue);
}
input, textarea{
  margin-bottom: .5rem;
  border: none;
  background-color: var(--light-pink);
  padding: .5rem;
}
input:focus, textarea:focus{
  outline:none;
}

.form-circle1-container{
  position: absolute;
  bottom:0;
  right: 0;
}
.form-circle2-container{
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-circle1, .form-circle2{
  width: 100%;
}





footer {
  height: 5vh;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a{
  color: white;
}
footer a:hover{
  color: var(--light-yellow);
}


.animation{
  animation: tracking-in-expand .8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear{
  0%{
    transform: translateY(80px);
    opacity: 0;

  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}




@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -30%);
    -webkit-clip-path: circle(100px at 90% -30%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }
}
